<html>
  <head>
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>

    <form method="post" action="/corpus">
      <div>
        <label>Title</label>
        <input type="text" name="title" />
      </div>

      <div>
        <label>Text</label>
        <textarea name="text"></textarea>
      </div>

      <div>
        <button type="submit">
          Create Corpus!
        </button>
      </div>
    </form>
  </body>
</html>
